/*
--------------------------------------------------------------------------------
                                Default Page Setting
--------------------------------------------------------------------------------
*/

*
{
    margin: 0;
    font-size: 16px;
    font-family: sans-serif;
}

/*
--------------------------------------------------------------------------------
                                Accessibility CSS
--------------------------------------------------------------------------------
*/

/* Normal/Dark theme for the website */
:root /* This sets the normal color scheme for the website */
{
    /* Size for text using rem, base font size is 16px */
    --height0_1: 0.1rem;
    --height0_2: 0.2rem;
    --height0_3: 0.3rem;
    --height0_4: 0.4rem;
    --height0_5: 0.5rem;
    --height0_6: 0.6rem;
    --height0_7: 0.7rem;
    --height0_8: 0.8rem;
    --height0_9: 0.9rem;
    --height1: 1rem;
    --height1_1: 1.1rem;
    --height1_2: 1.2rem;
    --height1_3: 1.3rem;
    --height1_4: 1.4rem;
    --height1_5: 1.5rem;
    --height1_6: 1.6rem;
    --height1_7: 1.7rem;
    --height1_8: 1.8rem;
    --height1_9: 1.9rem;
    --height2: 2rem;
    --height2_1: 2.1rem;
    --height2_2: 2.2rem;
    --height2_3: 2.3rem;
    --height2_4: 2.4rem;
    --height2_5: 2.5rem;
    --height2_6: 2.6rem;
    --height2_7: 2.7rem;
    --height2_8: 2.8rem;
    --height2_9: 2.9rem;
    --height3: 3rem;
    --height3_1: 3.1rem;
    --height3_2: 3.2rem;
    --height3_3: 3.3rem;
    --height3_4: 3.4rem;
    --height3_5: 3.5rem;
    --height3_6: 3.6rem;
    --height3_7: 3.7rem;
    --height3_8: 3.8rem;
    --height3_9: 3.9rem;
    --height4: 4rem;
    --height4_1: 4.1rem;
    --height4_2: 4.2rem;
    --height4_3: 4.3rem;
    --height4_4: 4.4rem;
    --height4_5: 4.5rem;
    --height4_6: 4.6rem;
    --height4_7: 4.7rem;
    --height4_8: 4.8rem;
    --height4_9: 4.9rem;
    --height5: 5rem;
    --height5_1: 5.1rem;
    --height5_2: 5.2rem;
    --height5_3: 5.3rem;
    --height5_4: 5.4rem;
    --height5_5: 5.5rem;
    --height5_6: 5.6rem;
    --height5_7: 5.7rem;
    --height5_8: 5.8rem;
    --height5_9: 5.9rem;
    --height6: 6rem;
    --height6_1: 6.1rem;
    --height6_2: 6.2rem;
    --height6_3: 6.3rem;
    --height6_4: 6.4rem;
    --height6_5: 6.5rem;
    --height6_6: 6.6rem;
    --height6_7: 6.7rem;
    --height6_8: 6.8rem;
    --height6_9: 6.9rem;
    --height7: 7rem;
    --height8: 8rem;
    --height9: 9rem;
    --height10: 10rem;
    --height11: 11rem;
    --height12: 12rem;
    --height13: 13rem;
    --height14: 14rem;
    --height15: 15rem;
    --height16: 16rem;
    --height24: 24rem;
    --height32: 32rem;

    /* This is the font sizes used through out this website. */
    --paraText: var(--height1);
    --headLargeText: var(--height3);
    --headText1: var(--height2_3);
    --headText2: var(--height2_5);
    --headText3: var(--height1_8);
    --listText: var(--height0_8);
    --breakHeight: 0.1rem;/* This only needs to increase by 0.1 so it has its own height */
    --borderRadius: 0.5rem;
    --onePixel: 0.0625rem;
    --buttonPadding: 0.8rem 1.2rem;
    --achievementHeight: 6rem;
    --imageSize: 5rem;
    --sliderLocation: 0.2rem;
    --sliderWidth: 0.3rem;
    --sliderHeight: 0.5rem;
    --sliderLength: 6rem;

    /* Main colours used */
    --color1: #ffffff; /* White */
    --color2: #000000; /* Black */
    --color3: #E9E9E9; /* Text colour */
    --color4: #0e0797; /* Heading colour - not used */
    --color5: #53575e; /* Background Theme Colour - Light Grey */
    --color6: #2b4570; /* Button Background - Light blue */
    --color7: #4067a7; /* Button Hover - Light blue */
    --color8: #202225; /* Main Nav - Dark Grey */
    --color9: #171717; /* 2nd Nav colour */
    --color10: #2b4570; /* 3rd Nav colour - rgba(23,23,23,0.66) */
    --color11: #818181; /* Nav Text Colour */
    --color12: #f1f1f1; /* Nav Text Colour on Hover */
    --color13: #555555; /* Nav List element background colour on hover */
    --color14: #919191; /* Break colour - Light Grey */
    --color15: #0e0797; /* Hyper links for external websites */

    /* Nav colours used */
    --navMain: var(--color8);
    --navColor1: var(--color9);
    --navColor2: var(--color10);
    --navText: var(--color11);
    --navTextHover: var(--color12);
    --navTextBackgroundHover: var(--color13);

    /* Theme colours used */
    /* --foreground: var(--color2); - IF nothing gets changed remove */
    --background: var(--color5);
    --break: var(--color14);

    /* This is the font colours used through out this website. */
    --textColorContent: var(--color3); /* Used for main content text colour */
    --textColorHeader: var(--color1); /* Used for header text colour */
    --hypertextLinks:var(--color15);

    /* This is the button colours used through out this website. */
    --buttonBackground: var(--color6);
    --buttonBorder: var(--color1);
    --buttonHover: var(--color7);
    --buttonText: var(--color3);

    /* This is the select colours used through out this website. */
    --SelectOptionBackground: var(--color5);
    --SelectOptionBorder: var(--color1);

    /* This is the input colours used through out this website. */
    --inputBackground: var(--color5);
    --inputBorder: var(--color1);
    --inputText: var(--color3);

    /* Table border colour */
    --tableBorder: var(--color1);

}

/* Light Theme for the website */
.whiteMode /* This sets the white mode color scheme for the website */
{
    /* Main colours used */
    --color1: #ffffff; /* White */
    --color2: #000000; /* Black */
    --color3: #2c2c2c; /* Text colour */
    --color4: #767676; /* Heading colour */
    --color5: #53575e; /* Background Theme Colour - Light Grey */
    --color6: #4B8AD5; /* Button Background - Light blue */
    --color7: #66caff; /* Button Hover - Light blue */
    --color8: #202225; /* Main Nav - Dark Grey */
    --color9: #171717; /* 2nd Nav colour */
    --color10: #2b4570; /* 3rd Nav colour - rgba(23,23,23,0.66) */
    --color11: #818181; /* Nav Text Colour */
    --color12: #f1f1f1; /* Nav Text Colour on Hover */
    --color13: #555555; /* Nav List element background colour on hover */
    --color14: #919191; /* Break colour - Light Grey */
    --color15: #0e0797; /* Hyper links for external websites */

    /* Nav colours used */
    --navMain: var(--color8);
    --navColor1: var(--color9);
    --navColor2: var(--color10);
    --navText: var(--color11);
    --navTextHover: var(--color12);
    --navTextBackgroundHover: var(--color13);

    /* Main theme colours */
    --background: var(--color1);
    --break: var(--color11);

    /* This is the font colours used through out this website. */
    --textColorContent: var(--color3); /* Used for main content text colour */
    --textColorHeader: var(--color4); /* Used for header text colour */
    --hypertextLinks:var(--color15);

     /* This is the button colours used through out this website. */
    --buttonBackground: var(--color6);
    --buttonBorder: var(--color1);
    --buttonHover: var(--color7);
    --buttonText: var(--color1);

    --SelectOptionBackground: var(--color1); /* Used for select option on settings page so there would be no border */
    --SelectOptionBorder: var(--color2); /* Used for select option on settings page so there would be no border */

    --inputBackground: var(--color1); /* Used for select option on settings page so there would be no border */
    --inputBorder: var(--color2); /* Used for select option on settings page so there would be no border */
    --inputText: var(--color3 );

    /* Table border colour */
    --tableBorder: var(--color2);
}

/* High contrasting theme for the website */
.contrastMode
{
    /* Main colours used */
    --color1: #ffffff; /* White */
    --color2: #000000; /* Black */
    --color3: #B32C00; /* Text colour */
    --color4: #B32C00; /* Heading colour */
    --color5: #12B38D; /* Background Theme Colour */
    --color6: #2e7e62; /* Button Background */
    --color7: #2e7e3a; /* Button Hover - Light blue */
    --color8: #202225; /* Main Nav - Dark Grey */
    --color9: #171717; /* 2nd Nav colour */
    --color10: #2b4570; /* 3rd Nav colour - rgba(23,23,23,0.66) */
    --color11: #818181; /* Nav Text Colour */
    --color12: #f1f1f1; /* Nav Text Colour on Hover */
    --color13: #555555; /* Nav List element background colour on hover */
    --color14: #919191; /* Break colour - Light Grey */
    --color15: #0e0797; /* Hyper links for external websites */

    /* Main theme colours */
    --background: var(--color5);
    --break: var(--color11);

    /* Nav colours used */
    --navMain: var(--color8);
    --navColor1: var(--color9);
    --navColor2: var(--color10);
    --navText: var(--color11);
    --navTextHover: var(--color12);
    --navTextBackgroundHover: var(--color13);

    /* Text colour */
    --textColorContent: var(--color3); /* Used for main content text colour */
    --textColorHeader: var(--color4); /* Used for header text colour */
    --hypertextLinks:var(--color15); /* Hypertext colour */

     /* This is the button colours used through out this website. */
    --buttonBackground: var(--color6);
    --buttonBorder: var(--color2);
    --buttonHover: var(--color7);
    --buttonText: var(--color1);

    --SelectOptionBackground: var(--color5);
    --SelectOptionBorder: var(--color3);

    --inputBackground: var(--color5);
    --inputBorder: var(--color3);
    --inputText: var(--color3);

    /* Table border colour */
    --tableBorder: var(--color3);
}

/* Red theme for the website */
.redMode
{
    /* Main colours used */
    --color1: #ffffff; /* White */
    --color2: #000000; /* Black */
    --color3: #E3E2DF; /* Text colour */
    --color4: #E3E2DF; /* Heading colour */
    --color5: #2a000e; /* Background Theme Colour */
    --color6: #9a1750; /* Button Background */
    --color7: #ee4c7c; /* Button Hover - Light blue */
    --color8: #202225; /* Main Nav - Dark Grey */
    --color9: #171717; /* 2nd Nav colour */
    --color10: #2b4570; /* 3rd Nav colour - rgba(23,23,23,0.66) */
    --color11: #818181; /* Nav Text Colour */
    --color12: #f1f1f1; /* Nav Text Colour on Hover */
    --color13: #555555; /* Nav List element background colour on hover */
    --color14: #919191; /* Break colour - Light Grey */
    --color15: #0e0797; /* Hyper links for external websites */

    /* Main theme colours */
    --background: var(--color5);
    --break: var(--color11);

    /* Nav colours used */
    --navMain: var(--color8);
    --navColor1: var(--color9);
    --navColor2: var(--color10);
    --navText: var(--color11);
    --navTextHover: var(--color12);
    --navTextBackgroundHover: var(--color13);

    /* Text colour */
    --textColorContent: var(--color3); /* Used for main content text colour */
    --textColorHeader: var(--color4); /* Used for header text colour */
    --hypertextLinks:var(--color15); /* Hypertext colour */

     /* This is the button colours used through out this website. */
    --buttonBackground: var(--color6);
    --buttonBorder: var(--color2);
    --buttonHover: var(--color7);
    --buttonText: var(--color1);

    --SelectOptionBackground: var(--color5);
    --SelectOptionBorder: var(--color3);

    --inputBackground: var(--color5);
    --inputBorder: var(--color3);
    --inputText: var(--color3);

    /* Table border colour */
    --tableBorder: var(--color3);
}

/* Green theme for the website */
.greenMode
{
    /* Main colours used */
    --color1: #ffffff; /* White */
    --color2: #000000; /* Black */
    --color3: #E3E2DF; /* Text colour */
    --color4: #E3E2DF; /* Heading colour */
    --color5: #193c0d; /* Background Theme Colour */
    --color6: #4e763b; /* Button Background */
    --color7: #66903d; /* Button Hover - Light blue */
    --color8: #202225; /* Main Nav - Dark Grey */
    --color9: #171717; /* 2nd Nav colour */
    --color10: #2b4570; /* 3rd Nav colour - rgba(23,23,23,0.66) */
    --color11: #818181; /* Nav Text Colour */
    --color12: #f1f1f1; /* Nav Text Colour on Hover */
    --color13: #555555; /* Nav List element background colour on hover */
    --color14: #919191; /* Break colour - Light Grey */
    --color15: #0e0797; /* Hyper links for external websites */

    /* Main theme colours */
    --background: var(--color5);
    --break: var(--color11);

    /* Nav colours used */
    --navMain: var(--color8);
    --navColor1: var(--color9);
    --navColor2: var(--color10);
    --navText: var(--color11);
    --navTextHover: var(--color12);
    --navTextBackgroundHover: var(--color13);

    /* Text colour */
    --textColorContent: var(--color3); /* Used for main content text colour */
    --textColorHeader: var(--color4); /* Used for header text colour */
    --hypertextLinks:var(--color15); /* Hypertext colour */

     /* This is the button colours used through out this website. */
    --buttonBackground: var(--color6);
    --buttonBorder: var(--color2);
    --buttonHover: var(--color7);
    --buttonText: var(--color1);

    --SelectOptionBackground: var(--color5);
    --SelectOptionBorder: var(--color3);

    --inputBackground: var(--color5);
    --inputBorder: var(--color3);
    --inputText: var(--color3);

    /* Table border colour */
    --tableBorder: var(--color3);
}


/* Blue theme for the website */
.blueMode
{
    /* Main colours used */
    --color1: #ffffff; /* White */
    --color2: #000000; /* Black */
    --color3: #E3E2DF; /* Text colour */
    --color4: #E3E2DF; /* Heading colour */
    --color5: #25274d; /* Background Theme Colour */
    --color6: #29648a; /* Button Background */
    --color7: #2e9cca; /* Button Hover - Light blue */
    --color8: #202225; /* Main Nav - Dark Grey */
    --color9: #171717; /* 2nd Nav colour */
    --color10: #2b4570; /* 3rd Nav colour - rgba(23,23,23,0.66) */
    --color11: #818181; /* Nav Text Colour */
    --color12: #f1f1f1; /* Nav Text Colour on Hover */
    --color13: #555555; /* Nav List element background colour on hover */
    --color14: #919191; /* Break colour - Light Grey */
    --color15: #842697; /* Hyper links for external websites */

    /* Main theme colours */
    --background: var(--color5);
    --break: var(--color11);

    /* Nav colours used */
    --navMain: var(--color8);
    --navColor1: var(--color9);
    --navColor2: var(--color10);
    --navText: var(--color11);
    --navTextHover: var(--color12);
    --navTextBackgroundHover: var(--color13);

    /* Text colour */
    --textColorContent: var(--color3); /* Used for main content text colour */
    --textColorHeader: var(--color4); /* Used for header text colour */
    --hypertextLinks:var(--color15); /* Hypertext colour */

     /* This is the button colours used through out this website. */
    --buttonBackground: var(--color6);
    --buttonBorder: var(--color2);
    --buttonHover: var(--color7);
    --buttonText: var(--color1);

    --SelectOptionBackground: var(--color5);
    --SelectOptionBorder: var(--color3);

    --inputBackground: var(--color5);
    --inputBorder: var(--color3);
    --inputText: var(--color3);

    /* Table border colour */
    --tableBorder: var(--color3);
}

body
{
    background: var(--background);
    width: 100vw;
    height: 100vh;
}

/* Font Size that changes */
p
{
    color: var(--textColorContent);
    font-size: var(--paraText);
}

span
{
    color: var(--textColorContent);
    font-size: var(--paraText);
}

a
{
    font-size: var(--paraText);
    color: var(--hypertextLinks);
    text-decoration: underline;
}

a:visited
{
    color: var(--hypertextLinks);
    text-decoration: underline;
}

h1
{
    font-size: var(--paraText);
    color: var(--textColorHeader);
}

h2
{
    font-size: var(--headLargeText);
    color: var(--textColorHeader);
    text-decoration: underline;
}

h3
{
    font-size: var(--headText1);
    color: var(--textColorHeader);
}

h4
{
    font-size: var(--headText3);
    color: var(--textColorHeader);
}

h5
{
    font-size: var(--headText2);
    color: var(--textColorHeader);
}

h6
{
    font-size: var(--headText2);
    color: var(--textColorHeader);
}

ul
{
    font-size: var(--listText);
    color: var(--textColorContent);
    margin-left: 1.5%;
}

li
{
    font-size: var(--listText);
    color: var(--textColorContent);
    margin-left: 1.5%;
    padding-top: 0.5%;
}

label p
{
    line-height: 0;
    padding-bottom: 0;
    padding-top: 2%;
}

::placeholder
{
    font-size: var(--paraText);
    color: var(--textColorContent);
}

/*
--------------------------------------------------------------------------------
                                Navigation
--------------------------------------------------------------------------------
*/

.nav
{
    width: 5%;
    height: 100%;
    float: left;
    overflow: hidden;
    background-color: var(--navMain);
}

.break
{
    border-style: solid;
    border-color: var(--break);
    border-width: thin;
    width: 80%;
    margin-left: 10%;
    border-radius: var(--borderRadius);
    float: left;
}

.smallbreak
{
    border-bottom: var(--break) solid var(--breakHeight);
    width: 100%;
    margin-top: 2%;
    border-radius: var(--borderRadius);
    float: left;
}

.smallbreaktwo
{
    border-bottom: var(--break) solid var(--breakHeight);
    width: 95%;
    margin-top: 8%;
    border-radius: var(--borderRadius);
    float: left;
    margin-left: 2.5%;
}

.topArea
{
    height: 10%;
    width: 100%;
    padding-bottom: 10%;
    float: left;
}

.midArea
{
    height: 70%;
    width: 100%;
    float: left;
    overflow-x: hidden;
    overflow-y: auto;
}

.botArea
{
    height: 20%;
    width: 100%;
    float: left;
}

.navTopIcon
{
    display: block;
    margin: 20% auto;
    width: 80%;
    max-height: var(--imageSize);
    max-width: var(--imageSize);
    cursor: pointer;
}

.navMidIcon
{
    display: block;
    margin: 10% auto;
    width: 80%;
    max-height: var(--imageSize);
    max-width: var(--imageSize);
    cursor: pointer;
}

.navBotIcon
{
    display: block;
    margin: 10% auto;
    width: 80%;
    max-height: var(--imageSize);
    max-width: var(--imageSize);
    cursor: pointer;
}

.exampleIcon
{
    display: block;
    margin: 10% auto;
    width: 80%;
    max-height: var(--imageSize);
    max-width: var(--imageSize);
    cursor: pointer;
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;

}

li a
{
    display: block;
    padding: var(--height0_5) var(--height1);
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover
{
    background-color: var(--navTextBackgroundHover);
}

/*
--------------------------------------------------------------------------------
                                Content
--------------------------------------------------------------------------------
*/

.bannerArea
{
    width: 100%;
    height: var(--height16);
}

.bannerImage
{
    width: 100%;
    height: 100%;
}

.content
{
    width: auto;
    height: 100%;
    overflow-x: hidden;
}

.contentBoxArea
{
    width: 99%;
    max-width: 97.7%;
    margin-left: 0.1%;
    padding: 1%;
    float: left;
}

.contentArea
{
    padding-left: 1%;
    width: 99%;
    height: 100%;
}

.contentBox h3
{
    text-decoration: underline;
    margin-bottom: 1%;
    cursor: inherit;
}

.contentBox h3:hover
{
    text-shadow: black 0px 0px;
    cursor: inherit;
}

.contentBox p
{
    margin-bottom: 1%;
    margin-top: 1%;
    margin-left: 1%;
}

#graphBase
{
    width: 49%;
    max-width: 2560px;
    height: var(--height16);
    float: left;
    margin-right: 1%;
}

#graphComparison
{
    width: 49%;
    max-width: 2560px;
    height: var(--height16);
    float: left;
}

.imageInfo
{
    width: 60%;
    height: 60%;
    margin-left: 20%;
}

.boxArea
{
    width: 98%;
    float: left;
    height: 100%;
}

.box-4
{
    width: 25%;
    float: left;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
}

input
{
    background: inherit;
    border: none;
    color: var(--inputText);
    font-size: var(--paraText);
}

.lightArea
{
    width: 20%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    float: left;
}

.listArea
{
    float: left;
    width: 100%;
    height: auto;
}

/*
--------------------------------------------------------------------------------
                                On/Off Button/ Slider
--------------------------------------------------------------------------------
*/

/* This will not change depending on theme */

input[type=checkbox]
{
	height: 0;
	width: 0;
	visibility: hidden;
}

label[for=switch]
{
	cursor: pointer;
	text-indent: -9999px;
	width: var(--sliderLength);
	height: var(--height3_5);
	background: grey;
	display: block;
	border-radius: var(--height6);
	position: relative;
}

label[for=switch]:after
{
	content: '';
	position: absolute;
	top: var(--sliderWidth);
	left: var(--sliderWidth);
	width: var(--height2_7);
	height: var(--height2_7);
	background: #fff;
	border-radius: var(--height4);
	transition: 0.3s;
}

input:checked + label[for=switch]
{
	background: #3bda37;
}

input:checked + label[for=switch]:after
{
	left: calc(100% - var(--sliderWidth));
	transform: translateX(-100%);
}

/*
--------------------------------------------------------------------------------
                                Slider Controls
--------------------------------------------------------------------------------
*/

/* This will not change depending on theme */

/* Range slider taken from W3Schools - https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_rangeslider_round */
.slidecontainer
{
    width: 100%; /* Change this to size needed */
    height: var(--height2_5);
    float: left;
    margin-left: 1%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.slidecontainer p
{
    margin-top: 5%;
}

.slider1
{
    -webkit-appearance: none;
    width: 100%;
    height: var(--sliderHeight);
    border-radius: var(--borderRadius);
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider1:hover
{
    opacity: 1;
}

.slider1::-webkit-slider-thumb
{
    -webkit-appearance: none;
    appearance: none;
    width: var(--height1_5);
    height: var(--height1_5);
    border-radius: 50%;
    background: #000000;
    cursor: pointer;
}

.slider1::-moz-range-thumb
{
    width: var(--height1_5);
    height: var(--height1_5);
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.colorPicker
{
    width: 100%;
    margin-top: var(--height2);
}

.lightColorSelect
{
    width: 20%;
    border-color: #e7e7e7;
    color: black;
    background-color: white;
    padding: var(--height0_6);
    font-size: var(--height1);
    cursor: pointer;
    border-radius: var(--borderRadius);
    float: left;
    margin-left: 40%;
    margin-top: 5%;
}

.myDIV
{
    display: none;
}

/*
--------------------------------------------------------------------------------
                                Heater Controls
--------------------------------------------------------------------------------
*/

/* This will not change depending on theme */

.tempControlArea
{
    margin-left: 30%;
    margin-right: 30%;
    width: 100%;
    height: auto;
}

.controlButtonArea
{
    width: 40%;
    height: auto;
}

.tempControl
{
    width: 70%;
    height: var(--height5_2);
    background: #171717;
    text-align: center;
    font-size: var(--headLargeText);
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
    float: left;
}

.controlButton
{
    font-size: var(--headLargeText);
    background: #7c7c7c;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    float: left;
    transition-duration: 0.4s;
    width: 15%;
    height: var(--height5_3);
}

.controlButton:hover
{
    background: #101010;
    color: white;
    display: inline-block;
}

.controlButtonSubmit
{
    font-size: var(--headLargeText);
    background: #7c7c7c;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    float: left;
    transition-duration: 0.4s;
    width: 100%;
    height: var(--height5_2);
    border-radius: var(--borderRadius);
    margin-top: 2%;
}

.controlButtonSubmit:hover
{
    background: #101010;
    color: white;
}

.leftBorderRounded
{
    border-radius: 15px 0 0 15px;
}

.rightBorderRounded
{
    border-radius: 0 15px 15px 0;
}

/*
--------------------------------------------------------------------------------
                                Accessibility
--------------------------------------------------------------------------------
*/

.selectButton
{
    width: 100%;
    height: var(--height3_2);
    font-size: var(--paraText);
    background-color: var(--SelectOptionBackground);
    border: var(--onePixel) solid var(--SelectOptionBorder);
    border-radius: var(--borderRadius);
    color: var(--textColorContent);
}

.selectOption
{
    width: 100%;
    height: var(--height3_2);
    font-size: var(--paraText);
    background-color: var(--SelectOptionBackground);
    border: none;
    color: var(--textColorContent);
}


option
{
    font-size: var(--paraText);
    padding-left: 5%;
}

select
{
    padding-left: 1%;
}

/*
--------------------------------------------------------------------------------
                                Comparisons
--------------------------------------------------------------------------------
*/

.buttonGraph50Left
{
    width: 49%;
    max-width: 2560px;
    height: auto;
    float: left;
    margin-right: 1%;
    background-color: var(--buttonBackground);
    color: var(--buttonText);
    padding: var(--buttonPadding);
    border: none;
    border-radius: var(--borderRadius);
    cursor: pointer;
    transition: 1s;
    margin-top: 1%;
    margin-bottom: 1%;
}

.buttonGraph50Right
{
    width: 49%;
    max-width: 2560px;
    height: auto;
    float: left;
    background-color: var(--buttonBackground);
    color: var(--buttonText);
    padding: var(--buttonPadding);
    border: none;
    border-radius: var(--borderRadius);
    cursor: pointer;
    transition: 1s;
    margin-top: 1%;
    margin-bottom: 1%;
}

/*
--------------------------------------------------------------------------------
                                Achievements
--------------------------------------------------------------------------------
*/

.achievementsIcon
{
    width: 60%;
    height: var(--achievementHeight);
    padding-left: 20%;
    overflow: hidden;
}

/*
--------------------------------------------------------------------------------
                                Hestia's Settings
--------------------------------------------------------------------------------
*/

table
{
    border-collapse: collapse;
    width: 100%;
}

td, th
{
    border: var(--onePixel) solid var(--tableBorder);
    text-align: left;
    background-color: var(--SelectOptionBackground);
    font-size: var(--paraText);
    color: var(--textColorContent);
    height: var(--height3_1);
}

.tablePadding
{
    padding-left: 1%;
}

.tableArea
{
    padding: 0 0 0 0;
    height: var(--height3_1);
}

.table10
{
    width: 10%;
    padding-left: 1%;
}

.table20
{
    width: 20%;
    padding-left: 1%;
}

.table30
{
    width: 30%;
    padding-left: 1%;
}

.table40
{
    width: 40%;
    padding-left: 1%;
}

.table50
{
    width: 50%;
    padding-left: 1%;
}

.table60
{
    width: 60%;
    padding-left: 1%;
}

.table70
{
    width: 70%;
    padding-left: 1%;
}

.table80
{
    width: 80%;
    padding-left: 1%;
}

.table90
{
    width: 90%;
    padding-left: 1%;
}

.inputRoomStyle
{
    width: 99%;
    height: var(--height3_2);
    background-color: var(--inputBackground);
    padding: 0 0 0 1%;
    margin: 0 0 0 0;
    overflow: hidden;
}

.button50Left
{
    width: 49%;
    background-color: var(--buttonBackground);
    color: var(--buttonText);
    padding: var(--buttonPadding);
    border: none;
    border-radius: var(--borderRadius);
    cursor: pointer;
    transition: 1s;
    float: left;
    margin-top: var(--height0_5);
    margin-right: 1%;
}

.button50Right
{
    width: 49%;
    background-color: var(--buttonBackground);
    color: var(--buttonText);
    padding: var(--buttonPadding);
    border: none;
    border-radius: var(--borderRadius);
    cursor: pointer;
    transition: 1s;
    float: left;
    margin-top: var(--height0_5);
    margin-left: 1%;
}

.button50Left:hover
{
    background-color: var(--buttonHover);
}

.button50Right:hover
{
    background-color: var(--buttonHover);
}

.inputStyle
{
    width: 100%;
    padding: var(--buttonPadding);
    margin: var(--height0_5) 0;
    display: inline-block;
    border-radius: var(--borderRadius);
    box-sizing: border-box;
    background-color: var(--inputBackground);
    border: var(--onePixel) solid var(--inputBorder);
    color: var(--inputText);
}

.inputButton
{
    width: 100%;
    background-color: var(--buttonBackground);
    color: var(--buttonText);
    padding: var(--buttonPadding);
    margin: var(--height0_5) 0;
    border: none;
    border-radius: var(--borderRadius);
    cursor: pointer;
    transition: 1s;
}

.inputButton:hover
{
    background-color: var(--buttonHover);
}

.hideOnDesktop
{
    display: none;
}

.centredText
{
    text-align: center;
}

.answers
{
    padding-left: 2%;
    padding-right: 2%;
}

/*
--------------------------------------------------------------------------------
                                Responsive CSS
--------------------------------------------------------------------------------
*/

@media all and (min-width: 3440px) /* 4K - 3840 x 2160 */
{

    :root
    {
        /* Size for text using rem, base font size is 16px */
        --height0_1: 4.1rem;
        --height0_2: 4.2rem;
        --height0_3: 4.3rem;
        --height0_4: 4.4rem;
        --height0_5: 4.5rem;
        --height0_6: 4.6rem;
        --height0_7: 4.7rem;
        --height0_8: 4.8rem;
        --height0_9: 4.9rem;
        --height1: 5rem;
        --height1_1: 5.1rem;
        --height1_2: 5.2rem;
        --height1_3: 5.3rem;
        --height1_4: 5.4rem;
        --height1_5: 5.5rem;
        --height1_6: 5.6rem;
        --height1_7: 5.7rem;
        --height1_8: 5.8rem;
        --height1_9: 5.9rem;
        --height2: 6rem;
        --height2_1: 6.1rem;
        --height2_2: 6.2rem;
        --height2_3: 6.3rem;
        --height2_4: 6.4rem;
        --height2_5: 6.5rem;
        --height2_6: 6.6rem;
        --height2_7: 6.7rem;
        --height2_8: 6.8rem;
        --height2_9: 6.9rem;
        --height3: 7rem;
        --height3_1: 7.1rem;
        --height3_2: 7.2rem;
        --height3_3: 7.3rem;
        --height3_4: 7.4rem;
        --height3_5: 7.5rem;
        --height3_6: 7.6rem;
        --height3_7: 7.7rem;
        --height3_8: 7.8rem;
        --height3_9: 7.9rem;
        --height4: 8rem;
        --height4_1: 8.1rem;
        --height4_2: 8.2rem;
        --height4_3: 8.3rem;
        --height4_4: 8.4rem;
        --height4_5: 8.5rem;
        --height4_6: 8.6rem;
        --height4_7: 8.7rem;
        --height4_8: 8.8rem;
        --height4_9: 8.9rem;
        --height5: 9rem;
        --height5_1: 9.1rem;
        --height5_2: 9.2rem;
        --height5_3: 9.3rem;
        --height5_4: 9.4rem;
        --height5_5: 9.5rem;
        --height5_6: 9.6rem;
        --height5_7: 9.7rem;
        --height5_8: 9.8rem;
        --height5_9: 9.9rem;
        --height6: 10rem;
        --height6_1: 10.1rem;
        --height6_2: 10.2rem;
        --height6_3: 10.3rem;
        --height6_4: 10.4rem;
        --height6_5: 10.5rem;
        --height6_6: 10.6rem;
        --height6_7: 10.7rem;
        --height6_8: 10.8rem;
        --height6_9: 10.9rem;
        --height7: 11rem;
        --height8: 12rem;
        --height9: 13rem;
        --height10: 14rem;
        --height11: 15rem;
        --height12: 16rem;
        --height13: 17rem;
        --height14: 18rem;
        --height15: 19rem;
        --height16: 20rem;
        --height24: 28rem;
        --height32: 36rem;

        /* Some CSS gets broken or looks out of place at these resolutions, here is the fix. */
        --borderRadius: 1rem;
        --achievementHeight: 12rem;
        --imageSize: 9rem;
        --sliderLength: 14rem;
    }

    .nav
    {
        width: 8%;
    }

    .midArea
    {
        height: 67%;
        width: 100%;
        float: left;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .navBotIcon
    {
        margin-top: 15%;
    }

}

@media all and (max-width: 3439px) and (min-width: 3000px) /* For monitors off QHD and not quite 4K */
{

    :root
    {
        /* Size for text using rem, base font size is 16px */
        --height0_1: 3.1rem;
        --height0_2: 3.2rem;
        --height0_3: 3.3rem;
        --height0_4: 3.4rem;
        --height0_5: 3.5rem;
        --height0_6: 3.6rem;
        --height0_7: 3.7rem;
        --height0_8: 3.8rem;
        --height0_9: 3.9rem;
        --height1: 4rem;
        --height1_1: 4.1rem;
        --height1_2: 4.2rem;
        --height1_3: 4.3rem;
        --height1_4: 4.4rem;
        --height1_5: 4.5rem;
        --height1_6: 4.6rem;
        --height1_7: 4.7rem;
        --height1_8: 4.8rem;
        --height1_9: 4.9rem;
        --height2: 5rem;
        --height2_1: 5.1rem;
        --height2_2: 5.2rem;
        --height2_3: 5.3rem;
        --height2_4: 5.4rem;
        --height2_5: 5.5rem;
        --height2_6: 5.6rem;
        --height2_7: 5.7rem;
        --height2_8: 5.8rem;
        --height2_9: 5.9rem;
        --height3: 6rem;
        --height3_1: 6.1rem;
        --height3_2: 6.2rem;
        --height3_3: 6.3rem;
        --height3_4: 6.4rem;
        --height3_5: 6.5rem;
        --height3_6: 6.6rem;
        --height3_7: 6.7rem;
        --height3_8: 6.8rem;
        --height3_9: 6.9rem;
        --height4: 7rem;
        --height4_1: 7.1rem;
        --height4_2: 7.2rem;
        --height4_3: 7.3rem;
        --height4_4: 7.4rem;
        --height4_5: 7.5rem;
        --height4_6: 7.6rem;
        --height4_7: 7.7rem;
        --height4_8: 7.8rem;
        --height4_9: 7.9rem;
        --height5: 8rem;
        --height5_1: 8.1rem;
        --height5_2: 8.2rem;
        --height5_3: 8.3rem;
        --height5_4: 8.4rem;
        --height5_5: 8.5rem;
        --height5_6: 8.6rem;
        --height5_7: 8.7rem;
        --height5_8: 8.8rem;
        --height5_9: 8.9rem;
        --height6: 9rem;
        --height6_1: 9.1rem;
        --height6_2: 9.2rem;
        --height6_3: 9.3rem;
        --height6_4: 9.4rem;
        --height6_5: 9.5rem;
        --height6_6: 9.6rem;
        --height6_7: 9.7rem;
        --height6_8: 9.8rem;
        --height6_9: 9.9rem;
        --height7: 10rem;
        --height8: 11rem;
        --height9: 12rem;
        --height10: 13rem;
        --height11: 14rem;
        --height12: 15rem;
        --height13: 16rem;
        --height14: 17rem;
        --height15: 18rem;
        --height16: 19rem;
        --height24: 27rem;
        --height32: 35rem;

        /* Some CSS gets broken or looks out of place at these resolutions, here is the fix. */
        --borderRadius: 1rem;
        --achievementHeight: 12rem;
        --imageSize: 7rem;
        --sliderHeight: 0.5rem;
        --sliderLength: 14rem;
    }

    .switch
    {
        position: relative;
        display: inline-block;
        width: 20rem;
        height: 20rem; /* Change ME - 1080+ */
        float: left;
    }

    .nav
    {
        width: 8%;
    }

    .midArea
    {
        height: 67%;
        width: 100%;
        float: left;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .navTopIcon
    {
        margin: 10% auto;
    }

    @media screen and (max-height: 2000px) /* 3:2 Aspect Ratio - 3000 x 2000 */
    {
        :root
        {
            --imageSize: 5rem;
        }

        .nav
        {
            width: 6%;
        }
    }

}

@media all and (max-width: 2999px) and (min-width: 2560px) /* QHD - 2560 x 1440 */
{

    :root
    {
        /* Size for text using rem, base font size is 16px */
        --height0_1: 2.1rem;
        --height0_2: 2.2rem;
        --height0_3: 2.3rem;
        --height0_4: 2.4rem;
        --height0_5: 2.5rem;
        --height0_6: 2.6rem;
        --height0_7: 2.7rem;
        --height0_8: 2.8rem;
        --height0_9: 2.9rem;
        --height1: 3rem;
        --height1_1: 3.1rem;
        --height1_2: 3.2rem;
        --height1_3: 3.3rem;
        --height1_4: 3.4rem;
        --height1_5: 3.5rem;
        --height1_6: 3.6rem;
        --height1_7: 3.7rem;
        --height1_8: 3.8rem;
        --height1_9: 3.9rem;
        --height2: 4rem;
        --height2_1: 4.1rem;
        --height2_2: 4.2rem;
        --height2_3: 4.3rem;
        --height2_4: 4.4rem;
        --height2_5: 4.5rem;
        --height2_6: 4.6rem;
        --height2_7: 4.7rem;
        --height2_8: 4.8rem;
        --height2_9: 4.9rem;
        --height3: 5rem;
        --height3_1: 5.1rem;
        --height3_2: 5.2rem;
        --height3_3: 5.3rem;
        --height3_4: 5.4rem;
        --height3_5: 5.5rem;
        --height3_6: 5.6rem;
        --height3_7: 5.7rem;
        --height3_8: 5.8rem;
        --height3_9: 5.9rem;
        --height4: 6rem;
        --height4_1: 6.1rem;
        --height4_2: 6.2rem;
        --height4_3: 6.3rem;
        --height4_4: 6.4rem;
        --height4_5: 6.5rem;
        --height4_6: 6.6rem;
        --height4_7: 6.7rem;
        --height4_8: 6.8rem;
        --height4_9: 6.9rem;
        --height5: 7rem;
        --height5_1: 7.1rem;
        --height5_2: 7.2rem;
        --height5_3: 7.3rem;
        --height5_4: 7.4rem;
        --height5_5: 7.5rem;
        --height5_6: 7.6rem;
        --height5_7: 7.7rem;
        --height5_8: 7.8rem;
        --height5_9: 7.9rem;
        --height6: 8rem;
        --height6_1: 8.1rem;
        --height6_2: 8.2rem;
        --height6_3: 8.3rem;
        --height6_4: 8.4rem;
        --height6_5: 8.5rem;
        --height6_6: 8.6rem;
        --height6_7: 8.7rem;
        --height6_8: 8.8rem;
        --height6_9: 8.9rem;
        --height7: 9rem;
        --height8: 10rem;
        --height9: 11rem;
        --height10: 12rem;
        --height11: 13rem;
        --height12: 14rem;
        --height13: 15rem;
        --height14: 16rem;
        --height15: 17rem;
        --height16: 18rem;
        --height24: 26rem;
        --height32: 34rem;

        /* Some CSS gets broken or looks out of place at these resolutions, here is the fix. */
        --borderRadius: 0.8rem;
        --achievementHeight: 10rem;
        --imageSize: 6rem;
        --sliderHeight: 0.5rem;
        --sliderLength: 9rem;
    }

    .switch
    {
        position: relative;
        display: inline-block;
        width: var(--sliderWidth);
        height: var(--height2_1); /* Change ME - 1080+ */
        float: left;
    }

    .nav
    {
        width: 7%;
    }

    @media screen and (max-height: 1080px) /* Ultrawide 1080p - 2560 x 1080 */
    {
        :root
        {
            --imageSize: 5rem;
        }

        .nav
        {
            width: 6%;
        }
    }

}

@media all and (max-width: 2559px) and (min-width: 2048px) /* QWXGA - 2048 x 1152 */
{


    :root
    {
        /* Size for text using rem, base font size is 16px */
        --height0_1: 1.1rem;
        --height0_2: 1.2rem;
        --height0_3: 1.3rem;
        --height0_4: 1.4rem;
        --height0_5: 1.5rem;
        --height0_6: 1.6rem;
        --height0_7: 1.7rem;
        --height0_8: 1.8rem;
        --height0_9: 1.9rem;
        --height1: 2rem;
        --height1_1: 2.1rem;
        --height1_2: 2.2rem;
        --height1_3: 2.3rem;
        --height1_4: 2.4rem;
        --height1_5: 2.5rem;
        --height1_6: 2.6rem;
        --height1_7: 2.7rem;
        --height1_8: 2.8rem;
        --height1_9: 2.9rem;
        --height2: 3rem;
        --height2_1: 3.1rem;
        --height2_2: 3.2rem;
        --height2_3: 3.3rem;
        --height2_4: 3.4rem;
        --height2_5: 3.5rem;
        --height2_6: 3.6rem;
        --height2_7: 3.7rem;
        --height2_8: 3.8rem;
        --height2_9: 3.9rem;
        --height3: 4rem;
        --height3_1: 4.1rem;
        --height3_2: 4.2rem;
        --height3_3: 4.3rem;
        --height3_4: 4.4rem;
        --height3_5: 4.5rem;
        --height3_6: 4.6rem;
        --height3_7: 4.7rem;
        --height3_8: 4.8rem;
        --height3_9: 4.9rem;
        --height4: 5rem;
        --height4_1: 5.1rem;
        --height4_2: 5.2rem;
        --height4_3: 5.3rem;
        --height4_4: 5.4rem;
        --height4_5: 5.5rem;
        --height4_6: 5.6rem;
        --height4_7: 5.7rem;
        --height4_8: 5.8rem;
        --height4_9: 5.9rem;
        --height5: 6rem;
        --height5_1: 6.1rem;
        --height5_2: 6.2rem;
        --height5_3: 6.3rem;
        --height5_4: 6.4rem;
        --height5_5: 6.5rem;
        --height5_6: 6.6rem;
        --height5_7: 6.7rem;
        --height5_8: 6.8rem;
        --height5_9: 6.9rem;
        --height6: 7rem;
        --height6_1: 7.1rem;
        --height6_2: 7.2rem;
        --height6_3: 7.3rem;
        --height6_4: 7.4rem;
        --height6_5: 7.5rem;
        --height6_6: 7.6rem;
        --height6_7: 7.7rem;
        --height6_8: 7.8rem;
        --height6_9: 7.9rem;
        --height7: 8rem;
        --height8: 9rem;
        --height9: 10rem;
        --height10: 11rem;
        --height11: 12rem;
        --height12: 13rem;
        --height13: 14rem;
        --height14: 15rem;
        --height15: 16rem;
        --height16: 17rem;
        --height24: 25rem;
        --height32: 33rem;

        /* Some CSS gets broken or looks out of place at these resolutions, here is the fix. */
        --borderRadius: 0.6rem;
        --achievementHeight: 8rem;
        --sliderHeight: 0.5rem;
        --sliderLength: 9rem;
    }

    .switch
    {
        position: relative;
        display: inline-block;
        width: var(--sliderWidth);
        height: var(--height2_1); /* Change ME - 1080+ */
        float: left;
    }

    .nav
    {
        width: 6%;
    }

    .midArea
    {
        height: 67%;
        width: 100%;
        float: left;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .navBotIcon
    {
        margin-top: 15%;
    }

}

@media all and (max-width: 1600px) and (min-width: 2047px) /* HD - 1920 x 1080 */
{
    /* Nothing needs changed as everything works fine at this res */
}

@media all and (max-width: 1599px) and (min-width: 1024px) /* Laptops */
{

}

@media all and (max-width: 1023px) and (min-width: 900px) /* Tablet */
{

    .nav
    {
        width: 10%;
    }

}